.minecraft/.mixin.out
.minecraft/crash-reports
.minecraft/journeymap
.minecraft/logs
.minecraft/optionsof.txt
.minecraft/paintings
.minecraft/realms_persistence.json
.minecraft/saves
.minecraft/screenshots
.minecraft/servers.dat
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/options.txt
natives/glfw.dll
natives/glfw.dll.git
natives/glfw.dll.sha1
natives/glfw32.dll
natives/glfw32.dll.git
natives/glfw32.dll.sha1
natives/jemalloc.dll
natives/jemalloc.dll.git
natives/jemalloc.dll.sha1
natives/jemalloc32.dll
natives/jemalloc32.dll.git
natives/jemalloc32.dll.sha1
natives/lwjgl.dll
natives/lwjgl.dll.git
natives/lwjgl.dll.sha1
natives/lwjgl32.dll
natives/lwjgl32.dll.git
natives/lwjgl32.dll.sha1
natives/lwjgl_opengl.dll
natives/lwjgl_opengl.dll.sha1
natives/lwjgl_opengl32.dll
natives/lwjgl_opengl32.dll.sha1
natives/lwjgl_stb.dll
natives/lwjgl_stb.dll.sha1
natives/lwjgl_stb32.dll
natives/lwjgl_stb32.dll.sha1
natives/lwjgl_tinyfd.dll
natives/lwjgl_tinyfd.dll.sha1
natives/lwjgl_tinyfd32.dll
natives/lwjgl_tinyfd32.dll.sha1
natives/META-INF/INDEX.LIST
natives/META-INF/MANIFEST.MF
natives/META-INF/versions/9/module-info.class
natives/OpenAL.dll
natives/OpenAL.dll.git
natives/OpenAL.dll.sha1
natives/OpenAL32.dll
natives/OpenAL32.dll.git
natives/OpenAL32.dll.sha1
natives/SAPIWrapper_x64.dll
natives/SAPIWrapper_x86.dll
